# Node
npm-debug.log
node_modules

# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/

#VSCode metadata
.vscode

coverage/


# production
/packages/*/dist/
/es

package-lock.json
yarn-error.log
yarn.lock